@page "/"

<h1>Survey App</h1>
<hr />

<table style="width:35%" >
    <tr>        
        <td>
            <button><a href="/login">LogIn</a></button>
        </td>
        <td>
            <button><a href="/Register">Register</a></button>
        </td>
    </tr>
</table>




