@page "/ReportManage"
@using Blazor.Data

<h1>Report Manage</h1>
<hr />
<h4 class="username">user: @UserInfo.Email</h4>
<span float="right"><a href="Admin">Dashboard</a></span>
<span float="right"><a href="logout">LogOut</a></span>
<hr />


@code {

}
